/* Position des images */

figure /* cadre du corp */
{
	position : relative;
	width : 95%;

	height : 600px;

	padding : 20px;
	margin : auto;
}


figure a
{
	width : 12%;
}

a img
{
	width : 100%;
	border-radius : 10px;
	box-shadow : 10px 10px 10px black;
}

/* positionner les images */

#Cours, #Phy-TV_Logo, #Toits, #FOCEEN_Logo, #ISF_Logo, #SUF
{
	display : block;
	position : absolute;
}

#Cours
{
	top :132px;
	left : 18%;
}

#Toits
{
	top :48px;
	/*align-items: center;*/
	left : 43%;
}

#SUF
{
	top :132px;
	right : 18%;
}

#Phy-TV_Logo
{
	top : 310px;
	left : 18%;
}

#FOCEEN_Logo
{
	top : 400px;
	left : 43%;
}

#ISF_Logo
{
	top :310px;
	right : 18%;
}

#ECM_Logo
{
	display : inline-block;

	position : absolute ;
	width : 17%;
	top : 235px;
	left : 40%;

	border-radius : 0;
	box-shadow : none;
}



a figcaption
{
	display : none;

	position : absolute;
	width : 100%;
	height : 20%;
	left : 1.9%;
	bottom : -1.9%;

	font-family : Foro, titillium,"cooper black", "arial black", sans-serif;
	vertical-align : center;
	font-size : 100%;
	text-align : center;
	color : white;

	background-color : grey;
	border-radius : 0px 0px 10px 10px;
	opacity : 0.8;
}
