#liste
{

	display : inline-block;
	width : 85%;
	height : 100px;
	margin : auto;
	margin-top : 30px; /*gestion des espacement entre les blocs par le haut */
	padding : 15px;
	
	background-color : rgba(102, 131, 182, 0.7);
	border-radius : 10px;
	
}


#bannière a
{
	width : 20%;
	padding : 2%;
}

#bannière a img
{
	width : 95%;
}

#bannière
{
	display: flex;
	justify-content : space-between;
}


.gauche a
{
	border-right : solid /*#8dc8fb*/white 3px;
	
}

.droite a
{
	border-left : solid /*#8dc8fb*/white 3px;
}

#bannière figcaption
{
	width : 100%;
	margin-left : 30px;
	margin-right : 30px;
	
}

#liste figure
{
	width : 100%;
	margin : auto;
	display: flex;
}

#liste figure a
{
	display : inline-block;
	position : relative;
	width : 14%;
	margin : 2%;
}

#liste figure a img
{
	width : 100%;
	opacity : 1.0;

}

#liste figure a figcaption
{
	position : relative;
	top : 8px;
	left : 2%;

	
	text-align : center;
	color : white;
	background-color : #1f4ebc;
	border-radius : 10px;

}


#liste header
{
	color : white;
	font-size : 1.2em;
	
	padding-left : 15px;
}

aside
{
	color : white;
	width : 80%;
	margin : auto;
}

#Etoile
{
	width : 20px;
	box-shadow : none;
}

/* --------------- Au survol ----------------- */

a img:hover
{
	position : relative;
	top : 8px;
	left : 8px;
	box-shadow : 2px 2px 3px black;	
}


/* --------------- Au Clic ------------------ */

a:active img
{
	position : relative;
	top : 10px;
	left : 10px;
	box-shadow : 0px 0px 3px black;	
}


*
{
	border : 3px solid black;
}