/* Pour la page CV */





figure{
  width: 40%;
  margin : auto;
}

figure img{
  width: 100%;
  border-radius : 10px 10px 10px 10px;
  margin-top: 20px;
}

/* Pour la page contact */

form
{

	position : relative;
	margin : auto;
}

.row
{
	color : white;
	font-family : Foro, titillium,"cooper black", "arial black", sans-serif;
	margin : auto;
}

h3
{
	font-family : Roboto, titillium,"cooper black", "arial black", sans-serif;
	width : 100%;

	font-size : 150%;
	color : #8dc8fb;
}

section{
  margin-top : 30px;
}
