/* Au Passage du clic */

a:hover img
{
	position : relative;
	top : 3px;
	left : 3px;
	box-shadow : 2px 2px 3px black;
}

/*#Cours:hover
{
	top :140px;
	left : 18.5%;
}

#Toits:hover
{
	top :56px;
	left : 43.5%;
}

#SUF:hover
{
	top :140px;
	right : 17.5%;
}

#Phy-TV_Logo:hover
{
	top :318px;
	left : 18.5%;
}

#FOCEEN_Logo:hover
{
	top : 408px;
	left : 43.5%;
}

#ISF_Logo:hover
{
	top :318px;
	right : 17.5%;
}*/

.footer a:hover
{
	text-shadow : 0.5px 0.5px 2px black;
}


a:hover figcaption
{
	display : block;
}

li a:hover
{
	left : 3px;
	top : 3px;
}
