/* Style Global */
/*
On y trouve notamment :
- la Police du site
- L'arrière plan
- la définition des styles de titres/paragraphes/liens
- la mise en forme des vignettes
- l'affichage de l'en-tête et du pied de page
*/



@font-face
{
	font-family: 'Foro';
	src: url('..Assets/Polices/forolig.ttf');
	font-family: 'Roboto';
	src : url('..Assets/Polices/Roboto-Thin.ttf');
}

body
{
	background-color: rgb(240, 240, 240);
	width:100%;
	font-family : Roboto, titillium,"cooper black", "arial black", sans-serif;
}

/*body
{
	background: url("../Images_site/Mucemflout2.jpg") fixed no-repeat /*url("../Images_site/Mucemflout.jpg") fixed no-repeat*;
	background-position : center;
	background-size: cover;
	width:100%;
	font-family : Foro, titillium,"cooper black", "arial black", sans-serif;
}*/


p
{
	/*text-indent : 2%;*/
	margin-top : 5px;
}

a, a:hover, a:active, a:visited
{
	text-decoration :  none;
	color: black;
}

h2 a /*trouver une classe */
{
	color : #8dc8fb;
	text-decoration : underline;
}

section /*pourquoi c'est là ? */
{
	font-family : Foro, titillium,"cooper black", "arial black", sans-serif;
}

/* bandeau d'en tête */

.header{
	width: 100%;
	background-color : rgba(102, 131, 182, 0.9);
	box-shadow : 0px 1px 7px black;
	padding-top: 20px;
	min-height: 90px;
}

.header a, .header h1{
	text-decoration: none;
	color: rgba(0, 0, 0);
	font-family : Roboto, titillium, "cooper black", "arial black", sans-serif;
	text-align: center;
}

/* Barre de navigation */

nav{
	width: 85%;
	margin : auto;

	margin-top: 15px;
	padding-bottom: 10px;
	padding-top: 0px;

	border-top: solid black 1px;
}

nav .active{
	font-weight: bold;
}

a[class="nav-link"]:hover{
	text-decoration: underline;
}

/* affichage des images */

article a img
{
	border-radius : 10px;
	box-shadow : 2px 2px 8px black;
}

/* générer des bouttons propres*/
.boutton{
	background-color : rgba(102, 131, 182, 0.9);
	border-radius : 10px;
	box-shadow : 3px 3px 8px black;
	color: black;
	margin-top : 20px;
	width: 150px;
	padding-left: 10px;
}

a:hover .boutton{
	position: relative;
	top : 2px;
	left : 2px;
	box-shadow : 1px 1px 4px black;
}

/* mise en forme du pied de page */

.footer
{
	width : 85%;
	margin : auto;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;

	border-top: solid rgba(0, 0, 0) 1px;
	white-space: nowrap ;
}

.index_footer
{
	width : 100%;

	position : fixed;
	bottom : 0px;
	left : 0px;
	rigth : 0px;
	border-radius : 10px 10px 0px 0px;
	background-color : rgba(102, 131, 182);
	border: solid rgba(0, 0, 0) 0px;
}

.footer div, .footer a
{
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 10px;
	padding-left: 10px;

	color : black;
}

.footer a{
	text-decoration: underline;
}

.footer a:hover img
{
	position : relative;
	top : 2px;
	left : 2px;
	box-shadow : 1px 1px 4px black;
}

.footer a:hover
{
	font-weight: bold;
}

.contact a img
{
	width: 25px;
}

.organismes
{
	margin-top: auto;
	margin-bottom: auto;
}

.organismes a
{
	width: 20%;
	text-align: center;
}

.organismes a img
{
	width: 60%;
}

/*
{
	border : solid red 1px;
}
