/* Position des images */

.corps /* bloc des liens */
{
	/*position : relative;*/
	width : 100%;
	padding-top : 120px;
}

a img /* mise en forme des images-liens */
{
	width : 100%;
}

a figcaption /* mise en forme des légendes */
{
	display : none;

	position : absolute;
	width : 100%;
	height : 20%;
	left : 3px;
	bottom : -3px;

	font-family : Foro, titillium,"cooper black", "arial black", sans-serif;
	vertical-align : center;
	font-size : 100%;
	text-align : center;
	color : white;

	background-color : grey;
	border-radius : 0px 0px 10px 10px;
	opacity : 0.8;
}
